#landing-page {
	background-image: url(img/gangster.jpg);
padding: 260px 0;

}
.flex div {
    width: 100%;
}




@media screen and (min-width: 600px) {
	.flex div {
    width: 100%; 
	}  
	img {
		width: 98%;
	}

} 