* {
	margin: 0;
	padding: 0;
}
body {
	padding: 0;
	margin: 2%;
}
h1 {
	font-size: 3em;
	font-family: Helvetica;
	color: #ffffff;
	text-shadow: 2px 5px 10px #000000;
}
p {
    letter-spacing: 0;
    line-height: 19px;
    font-size: 1em;
    color:  #4d4d4d;
    padding: 0 10% 0 10%;
}
nav ul {
	list-style-type: none;
    text-align: center;
    background-color: red;
}
li {
	display: inline-block;
	padding: 1%;
}
nav li a {
    text-decoration: none;
    display: block;
    font-size: 1.6em;
    color: #ffffff;
}
nav li a:hover {
	color: #000;
}
.sectionall {
	text-align: center;
	width: 100%;
}
#landingpage {
	background-image: url(img/space.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin-top: 1%;
	padding: 50% 0;
}
#intro {
	margin-top: 2%;
	padding-top: 5%;
	background-color: #e6e6e6;
}
#header {
	padding: 5% 0;
	width: 50%;
	margin-left: 25%;
}

#images {

	padding-top: 5%; 0;
}
#icon {
	width: 40px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex div {
    width: 100%;
    height: auto;
    text-align: center;
}
img {
    width: 100%;
    height: auto;
}
#bangladesh {
	background-image: url(img/Sylhet.jpg);
    background-attachment: fixed;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: table;
}
.innersection {
	display: table-cell;
	vertical-align: middle;
}
.header{
	background-color: rgba(194, 188, 188, 0.76);
	padding: 2% 0;
}
.para{
	background-color: rgba(194, 188, 188, 0.76);
	padding-bottom: 2%;
}
#dad {
	background-image: url(img/dad.jpg);
    background-attachment: fixed;
    width:30;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: table;
}
#test {
	background-image: url(img/girl.jpg);
    background-attachment: fixed;
    width:30;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: table;
}
@media screen and (min-width: 600px) {
	body {
		background-color: yellow;
	}
	p {
    letter-spacing: 0;
    line-height: 19px;
    font-size: 1em;
    color:  #4d4d4d;
    padding: 0 10% 0 10%;
}
	}
}