h3{
	color: white;
	font-size: 1.5em;
	
	font-family: trebuchet ms;
}

h4  {
	font-size: 1.2em;
}

p {
	line-height: 19px;
    font-size: 1em;  
    color:  #9f9f9f;
    padding: -10px 20px -10px 20px;
}
.sectionall {
	text-align: center;
	width: 100%;
}
#back {
  float: left;
}
#encapsulate {
  float: left;
  margin-left: 40%;
  font-weight: bold;
  font-family: helvetica;
}

#landingpage {
	background-image: url(img/tiger.jpg);
}
#intro {
	width: 100%;
	background-color: #ffffff;
	margin: 0;
}
#header {
	width: 100%;
	color: #575a65;
	font-family: trebuchet ms;
	margin: 0;
}
#intro p {
	font-size: 1.1em;
	padding: 0 0 2% 0;
	margin: 0;
}
#images {
	padding-top: 2%; 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex div {
    width: 100%;
    height: auto;
    text-align: center;
}			


@media screen and (min-width: 600px) {
	body {
		margin: 1.5%;
	}	

	h1 {
		font-size: 3em;
	}														